<div class="row">
   <div class="card mb-3 shadow">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="~/img/avatars/test.jpg" alt="Comik Cover" class="comik-avatar w-100">
                </div>
                <!-- Comic Details -->
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">Manga Title</h3>
                        <ul class="list-unstyled">
                            <li>
                            <div class="line"><div class="icon-styled"><i class="bx bx-user"></i></div><div class="text-styled"><strong>Authors:</strong></div></div></li>
                            <div class="line"><div class="icon-styled"><i class="bx bx-calendar"></i></div><div class="text-styled"><strong>Published Date:</strong> January 1, 2022</div></div></li>
                            <li><div class="line"><div class="icon-styled"><i class="bx bx-folder"></i></div><div class="text-styled"><strong>Genres:</strong> Action, Adventure, Fantasy</div></div></li>
                            <li><div class="line"><div class="icon-styled"><i class="bx bx-file"></i></div><div class="text-styled"><strong>Chapters:</strong> 120</div></div></li>
                            <li><div class="line"><div class="icon-styled"><i class="bx bx-bell"></i></div><div class="text-styled"><strong>Views:</strong></div></div></li>
                            <li><div class="line"><div class="icon-styled"><i class="bx bx-chevron-left"></i></div><div class="text-styled"><strong>Status:</strong></div></div></li>
                            <li><div class="line"><div class="icon-styled"><i class="bx bx-crown"></i></div><div class="text-styled"><strong>Ratings:</strong></div></div></li>
                            <li><div class="line"><div class="icon-styled"><i class="bx bx-crown"></i></div><div class="btn btn-primary">Bookmark</button></div></div></li>
                        </ul>
                        <hr>
                        <h5>Description</h5>
                        <p id="description" class="card-text description-content">This manga follows the story of a young adventurer in a fantastical world. As they explore new lands and face challenges, they encounter friends and foes alike, ultimately searching for their true destiny.</p>
                        <div id="toggle-text" class="toggle-text" onclick="toggleSwitch()">Show more</div>
                        <a href="#" class="btn btn-primary">Read Now</a>
                    </div>
                </div>
            </div>
        </div>
       <div class ="card shadow mb-3">
    <div class="chapter-display mt-5 mb-3">
       <div class="chapter-text"><b>Chapters<span class="text-muted"><sup>(5)</sup></span></b></div>
        <div id="toggle-square" class="toggle-square" onclick="toggleChapter()">+</div>
    </div>
     <div id="chapterTable" class="chapter-table table-responsive mb-2">
    <div class="chapter-table-wrapper">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>Chapter 1: The Beginning</td>
                                <td class="text-right">3 days ago</td>
                            </tr>
                            <tr>
                                <td>Chapter 2: The Journey</td>
                            </tr>
                            <tr>
                                <td>Chapter 3: The Encounter</td>
                            </tr>
                            <tr>
                                <td>Chapter 4: The Battle</td>
                            </tr>
                            <tr>
                                <td>Chapter 5: The Resolution</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
     </div>
     <div class="chapter-display mt-2 mb-3">
        <div class="chapter-text"><b>Comment</b><span class="text-muted"><sup>(0)</sup></span></div>
        <div class="toggle-square" id="toggle-comment-square" onclick="toggleComment()">+</div>
     </div>
     <div id="commentTable" class="commentTable">
     <div class="row align-items-start">
   <div class="col-auto mt-3">
     <img class="user-img" data-role="user-avatar" src="~/img/avatars/1.png"> 
   </div>
   <div class="col">
      <div class="comment-area mt-2 mb-1">
        <div class="content-edit" id="content-edit" contenteditable="true" data-placeholder="Start your discussion here..." onkeyup="reAddPlaceHolder()"></div>
        @*<textarea id="comment-box" placeholder="Start your discussion here..."></textarea>*@
     <div class="d-flex justify-content-between align-items-sm-center">
        <div class="text-format-buttons">
            <button id="gif-btn" class="text-muted d-none d-md-inline-block" onclick="formatText('GIF')"><i class="bx bx-folder"></i></button>
            <button id="image-btn" class="text-muted d-none d-md-inline-block"><i class="bx bx-file"></i></button>
            <button id="bold-btn" onclick="formatText('Bold')" class="text-muted"><b>B</b></button>
            <button id="italic-btn" onclick="formatText('Italic')" class="text-muted"><i>I</i></button>
            <button id="underline-btn" class="text-muted" onclick="formatText('Underline')"><u>U</u></button>
            <button id="alpha-btn" class="text-muted d-none d-md-inline-block" onclick="formatText('Alpha')">@@</button>
          </div>
        <button class="btn btn-primary text-right">Submit</button>
        </div>
       <div id="list-comment" class="list-comment">
        <div class="comment-header">
         Users in this conversation
        </div>
        <ul class="list-user">
            <li class="list-user-detail"  onclick="selectUserTag('User1')">
                <img src="~/img/avatars/1.png"alt="test" class="img-fluid comment-avatar">
                User1
            </li>
               <li class="list-user-detail">
                <img src="~/img/avatars/1.png"alt="test" class="img-fluid comment-avatar">
                User1
            </li>
               <li class="list-user-detail">
                <img src="~/img/avatars/1.png" alt="test" class="img-fluid comment-avatar">
                User1
            </li>
               <li class="list-user-detail">
                <img src="~/img/avatars/1.png" alt="test" class="img-fluid comment-avatar">
                User1
            </li>
               <li class="list-user-detail">
                <img src="~/img/avatars/1.png" alt="test" class="img-fluid comment-avatar">
                User1
            </li>
        </ul>
       </div>
       <div class="gif-container" id="gif-container">
        <div class="search-gif">
            <input type="text" class="gif-input" placeholder="Search your gif..." onkeyup="searchGify(this.value)">
        </div>
        <div class="gif-list">
            <div class="gif-item" id="gif-item">
                <div class="img-gif" data-meme-type="trending" id="img-container" onclick="searchGify('Trending')">
                    <img src="https://media.giphy.com/media/WsV5AoDeKePw4/200w_d.gif" style="width:250px;height:115px" id="img-gif">
                <div class="gif-title">
                    Trending
                </div>
                </div>
                <div class="img-gif"data-meme-type="omg" id="img-container" onclick="searchGify('OMG')">
                    <img src="https://media.giphy.com/media/5VKbvrjxpVJCM/200w_d.gif" style="width:250px;height:200px" id="img-gif">
                <div class="gif-title">
                    OMG
                </div>
                </div>
                 <div class="img-gif" data-meme-type="oh no" id="img-container" onclick="searchGify('Oh no')">
                    <img src="https://media.giphy.com/media/z5WtAAaFpnIgU/200w_d.gif" style="width:250px;height:200px" id="img-gif">
                <div class="gif-title">
                    Oh No
                </div>
                </div>
                   <div class="img-gif" data-meme-type="slow slap" id="img-container" onclick="searchGify('Slow Slap')">
                    <img src="https://media.giphy.com/media/58FMN3DmsmYta2m0aB/200w_d.gif" style="width:250px;height:200px" id="img-gif">
                <div class="gif-title">
                    Slow Slap
                </div>
                </div>
                   <div class="img-gif" data-meme-type="love" id="img-container" onclick="searchGify('Love')">
                    <img src="https://media.giphy.com/media/Xf7g5BjIIMun8fR14k/200w_d.gif" style="width:250px;height:200px" id="img-gif">
                <div class="gif-title">
             Love
                </div>
                </div>
                   <div class="img-gif" data-meme-type="eye roll" id="img-container" onclick="searchGify('Eye roll')">
                    <img src="https://media.giphy.com/media/sbwjM9VRh0mLm/200w_d.gif" style="width:250px;height:200px" id="img-gif">
                <div class="gif-title">
                    Eye roll
                </div>
                </div>
            </div>
             <div class="gif-item">
                <div class="img-gif" data-meme-type="applaude" id="img-container" onclick="searchGify('Applaude')">
                    <img src="https://media.giphy.com/media/fnK0jeA8vIh2QLq3IZ/200w_d.gif" style="width:300px;height:200px" id="img-gif">
                <div class="gif-title">
              Applaude
                </div>
                </div>
                <div class="img-gif" data-meme-type="agree" id="img-container" onclick="searchGify('Agree')">
                    <img src="https://media.giphy.com/media/3og0ILzGlzG26yNINq/200w_d.gif" style="width:300px;height:200px" id="img-gif">
                <div class="gif-title">
                    Agree
                </div>
                </div>
                 <div class="img-gif" data-meme-type="ok" id="img-container" onclick="searchGify('Ok')">
                    <img src="https://media.giphy.com/media/mgqefqwSbToPe/200w_d.gif" style="width:300px;height:200px" id="img-gif">
                <div class="gif-title">
                    Oh OK
                </div>
                </div>
                   <div class="img-gif" data-meme-type="thumb up" id="img-container" onclick="searchGify('Thumb up')">
                    <img src="https://media.giphy.com/media/j5QcmXoFWl4Q0/200w_d.gif" style="width:300px;height:200px" id="img-gif">
                <div class="gif-title">
                    Thumbs Up
                </div>
                </div>
                   <div class="img-gif" data-meme-type="thumb down" id="img-container" onclick="searchGify('Thumb down')">
                    <img src="https://media.giphy.com/media/KUrgyFtn9bQNW/200w_d.gif" style="width:300px;height:200px" id="img-gif">
                <div class="gif-title">
               Thumbs down
                </div>
                </div>
                   <div class="img-gif" data-meme-type="thank you" id="img-container" onclick="searchGify('Thank you')">
                    <img src="https://media.giphy.com/media/QAsBwSjx9zVKoGp9nr/200w_d.gif" style="width:300px;height:200px" id="img-gif">
                <div class="gif-title">
                    Thank you
                </div>
                </div>
            </div>
            </div>
         
       </div>
     </div>
      </div>
   </div>
     <div class="row align-items-start">
        <div class="d-flex justify-content-end">
        <div class="filter-content">
            <a href="#">Newest</a>
            <a href="#">Oldest</a>
        </div>
        </div>
     </div>
     
     <div class="row">
    <div class="comment-list">
        <div class="comment d-flex align-items-start mb-3">
            <div class="comment-avatar">
            <img src="~/img/avatars/1.png" alt="comment-avatar" class="comment-avatar-radius img-fluid">
            </div>
        <div class="comment-content">
        <div class="d-flex flex-column">
            <strong class="username">Username</strong>
            <span class="text-muted">3 days ago</span>
        </div>
        <p class="comment-text">This manga is so fucking</p>
        <div class="mt-3">
            <a href="#" class="comment-action"><i class="fa fa-thumbs-up"></i><span class="num-votes">5</span></a>
            <a href="#" class="comment-action"><i class="fa fa-thumbs-down"></i><span class="num-votes">6</a>
            <a href="#" class="comment-action"><i class="fa fa-reply"></i><span class="num-votes">Reply</span></a>
        </div>
        </div>
        </div>
     <div class="comment d-flex align-items-start mb-3">
            <div class="comment-avatar">
            <img src="~/img/avatars/1.png" alt="comment-avatar" class="comment-avatar-radius img-fluid">
            </div>
        <div class="comment-content">
        <div class="d-flex flex-column">
            <strong class="username">Username</strong>
            <span class="text-muted">3 days ago</span>
        </div>
        <p class="comment-text">This manga is so fucking</p>
        <div class="mt-3">
            <a href="#" class="comment-action"><i class="fa fa-thumbs-up"></i><span class="num-votes">5</span></a>
            <a href="#" class="comment-action"><i class="fa fa-thumbs-down"></i><span class="num-votes">6</a>
            <a href="#" class="comment-action"><i class="fa fa-reply"></i><span class="num-votes">Reply</span></a>
        </div>
        </div>
        </div>
        <div class="comment d-flex align-items-start mb-3">
            <div class="comment-avatar">
            <img src="~/img/avatars/1.png" alt="comment-avatar" class="comment-avatar-radius img-fluid">
            </div>
        <div class="comment-content">
        <div class="d-flex flex-column">
            <strong class="username">Username</strong>
            <span class="text-muted">3 days ago</span>
        </div>
        <p class="comment-text">This manga is so fucking</p>
        <div class="mt-3">
            <a href="#" class="comment-action"><i class="fa fa-thumbs-up"></i><span class="num-votes">5</span></a>
            <a href="#" class="comment-action"><i class="fa fa-thumbs-down"></i><span class="num-votes">6</a>
            <a href="#" class="comment-action"><i class="fa fa-reply"></i><span class="num-votes">Reply</span></a>
        </div>
        </div>
        </div>
          
    </div>
     </div>
       </div>
       </div>
        <!-- Related Manga or Additional Info -->
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                Related Manga
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#">Related Manga 1</a></li>
                    <li class="list-group-item"><a href="#">Related Manga 2</a></li>
                    <li class="list-group-item"><a href="#">Related Manga 3</a></li>
                </ul>
            </div>
        </div>
       </div>
<script>
    document.addEventListener("DOMContentLoaded",()=>{
     var description=document.getElementById("description");
     var toggleText=document.getElementById("toggle-text");
     if(description.scrollHeight>description.clientHeight)
     {
      toggleText.style.display="block";       
     }
    })

    var toggleSwitch=()=>
    {
   var description=document.getElementById("description");
   var toggleText= document.getElementById("toggle-text");
   if(description.classList.contains("description-content"))
   {
    description.classList.remove("description-content");
    toggleText.textContent="Show less";        
   }
   else
   {
    description.classList.add("description-content");
    toggleText.textContent="Show more";
   }
 }
    

    var toggleChapter=()=>
    {
    var chapterTable=document.getElementById("chapterTable");
    var toggleSquare=document.getElementById("toggle-square");
    if(toggleSquare.textContent==="+")
    {
        toggleSquare.textContent="-";
        chapterTable.style.display="block";
    }
    else
    {
        toggleSquare.textContent="+";
        chapterTable.style.display="none";
    }
    }

    var toggleComment=()=>{
        var toggleCommentSquare=document.getElementById("toggle-comment-square");
        var commentTable = document.getElementById("commentTable");
        if(toggleCommentSquare.textContent==="+")
        {
        toggleCommentSquare.textContent="-";
        commentTable.style.display="block";
        }
        else
        {
            toggleCommentSquare.textContent="+";
            commentTable.style.display="none";
        }    
    }
     
    var reAddPlaceHolder=()=>
    {
      var text_content=document.querySelector('[contenteditable]').textContent;
      if(text_content.trim()==='')
      {
        text_content.innerHTML='';
      }
      var bold_btn=document.getElementById("bold-btn");
      if(bold_btn.classList.contains('active'))
      {
        document.execCommand('bold');
        bold_btn.classList.remove('active');
      }
    }

     var selectUserTag=(username)=>
     {
     var text_area= document.getElementById("content-edit");
     var list_comment = document.getElementById("list-comment");
     var alpha_btn = document.getElementById("alpha-btn");
     text_area.innerHTML+=`<strong>@@${username}</strong>`;
     alpha_btn.classList.remove("active");
     list_comment.style.display="none";
     }


    var formatText=(value)=>
    {
     var text_area=document.getElementById("content-edit");
     
     var bold_btn=document.getElementById("bold-btn");
     var italic_btn=document.getElementById("italic-btn");
     var underlined_btn=document.getElementById("underline-btn");
     var alpha_btn = document.getElementById("alpha-btn");
     var list_comment = document.getElementById("list-comment");
     var gif_btn=document.getElementById("gif-btn");
     var gif_container = document.getElementById('gif-container');

    switch(value)
    {
     case "Bold":
     {
        if(!bold_btn.classList.contains("active"))
        {   
        bold_btn.classList.add("active");
        }
        else
        {
             bold_btn.classList.remove("active");
        }
        break;
     }
    case "Italic":
    {
     if(!italic_btn.classList.contains("active"))
     {  italic_btn.classList.add("active");
        document.execCommand('italic',true,null);
        text_area.focus();
     }
     else
     {
        italic_btn.classList.remove("active");
        document.execCommand('italic',false,null);
        text_area.focus();
     }
     break;
    }
    case "Underline":
    {
     if(!underlined_btn.classList.contains("active"))
     {   underlined_btn.classList.add("active");
        document.execCommand('underline',true,null);
        text_area.focus();
     }
     else
     {
        underlined_btn.classList.remove("active");
        document.execCommand('underline',false,null);
        text_area.focus();
     }
     break;
    }
  case "Alpha":
    {
   if(!alpha_btn.classList.contains("active"))
   {
    alpha_btn.classList.add("active");
    list_comment.style.display="block";
   }
   else{
    alpha_btn.classList.remove("active");
    list_comment.style.display="none";
   }
   break;
    }
    case "GIF":{
        if(!gif_btn.classList.contains("active"))
        {
        gif_btn.classList.add("active");
        gif_container.style.display='block';
        }
        else
        {   
            gif_btn.classList.remove("active");
            gif_container.style.display='none';
        }
        break;
    }
     }
    }

   const pushDataToDom=(data)=>
   {
  try{
    if(data.length==0)
    { 
      var list_default_gif=['https://media.giphy.com/media/WsV5AoDeKePw4/200w_d.gif','https://media.giphy.com/media/5VKbvrjxpVJCM/200w_d.gif','https://media.giphy.com/media/z5WtAAaFpnIgU/200w_d.gif','https://media.giphy.com/media/58FMN3DmsmYta2m0aB/200w_d.gif','https://media.giphy.com/media/Xf7g5BjIIMun8fR14k/200w_d.gif','https://media.giphy.com/media/sbwjM9VRh0mLm/200w_d.gif','https://media.giphy.com/media/fnK0jeA8vIh2QLq3IZ/200w_d.gif','https://media.giphy.com/media/3og0ILzGlzG26yNINq/200w_d.gif','https://media.giphy.com/media/mgqefqwSbToPe/200w_d.gif','https://media.giphy.com/media/j5QcmXoFWl4Q0/200w_d.gif','https://media.giphy.com/media/KUrgyFtn9bQNW/200w_d.gif','https://media.giphy.com/media/QAsBwSjx9zVKoGp9nr/200w_d.gif'];
      var list_default_slogan=['Trending','OMG','Oh No','Slow Slap','Love','Eye Roll','Applaude','Agree','Oh OK','Thumbs Up','Thumbs Down','Thank You'];
      var img_frames=document.querySelectorAll('#img-container');
 var child_node_count=img_frames[0].children.length;      
   if(child_node_count>=2)
      {
      return;
      }
      const new_style=document.createElement('style');

      new_style.innerHTML='.img-gif::before{content: "" !important;display: block !important;position:absolute !important;top: 0 !important;left:0 !important;width:100% !important;height:100% !important;opacity: 0.6 !important;background: #2a2e2e; !important}';
     
      for(let i=0;i<12;i++)
      {
      var first_child_img=img_frames[i].children[0];
      var create_second_child=document.createElement('div');
      create_second_child.className='gif-title';
      create_second_child.innerText=list_default_slogan[i];
      first_child_img.src=list_default_gif[i];
      img_frames[i].appendChild(new_style);
      img_frames[i].appendChild(create_second_child);
      }
    }
    @* else{
    var img_frames=document.querySelectorAll("#img-container");
    const new_style=document.createElement('style');
    new_style.innerHTML=`.img-gif::before{content:none !important;}`;
     for(let i=0;i<data.length;i++)
    {   var child_node_count=img_frames[i].childNodes.length;
       var first_child_img=img_frames[i].children[0];
       var second_child=child_node_count==2?img_frames[i].children[1]:null;
        var url=data[i].images.original.url;
        img_frames[i].appendChild(new_style);
     if(second_child!=null)
     {
        img_frames[i].removeChild(second_child);
     }
        first_child_img.src=url;     
    } 
    } *@
    else{
    var img_frames=document.querySelectorAll("#img-container");
    const new_style=document.createElement('style');
    new_style.innerHTML=`.img-gif::before{content:none !important;}`;
     for(let i=0;i<12;i++)
    {   var child_node_count=img_frames[i].children.length;
       var first_child_img=img_frames[i].children[0];
       var second_child=child_node_count==2?img_frames[i].children[1]:null;
        var url='https://media.giphy.com/media/WsV5AoDeKePw4/200w_d.gif';
        img_frames[i].appendChild(new_style);
     if(second_child!=null)
     {
        img_frames[i].removeChild(second_child);
     }
        first_child_img.src=url;
    } 
  }
    }
    @* else{
         var img_frames=document.querySelectorAll("#img-container");
    const new_style=document.createElement('style');
    new_style.innerHTML=`.img-gif::before{content:none !important;}`;
     for(let i=0;i<data.length;i++)
    {   var child_node_count=img_frames[i].children.length;
       var first_child_img=img_frames[i].children[0];
       var second_child=child_node_count==2?img_frames[i].children[1]:null;
        var url='https://media.giphy.com/media/WsV5AoDeKePw4/200w_d.gif';
        img_frames[i].appendChild(new_style);
     if(second_child!=null)
     {
        img_frames[i].removeChild(second_child);
     }
        first_child_img.src=url;     
    }  *@
    
    catch(ex)
    {

    }
   } 
  const searchGify=(searchTheme)=>
  {  
    var list_data_object=[];

    if(searchTheme.length==0)
    {
     pushDataToDom(list_data_object); 
    }
    @* var api_key="73KpRDQmZmdveTBtswvZ2Zt4pygEMCZ5";
    let gify_url=`https://api.giphy.com/v1/gifs/search?api_key=${api_key}&q=${searchTheme}&limit=12&offset=0&rating=g&lang=en&bundle=messaging_non_clips`;
    var gify_call_request=new XMLHttpRequest();
    gify_call_request.open("GET",gify_url);
    gify_call_request.send();
    gify_call_request.addEventListener("load",(data)=>
    {
    var gify_data=data.target.response;
    var gify_object = JSON.parse(gify_data);
    var data_object=gify_object.data;
    data_object.forEach((value)=>{
     list_data_object.push(value);
    });
    pushDataToDom(list_data_object); 
    }); *@
    pushDataToDom(searchTheme);
  }
</script>