<div class="row">
   <div class="card mb-3 shadow">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="~/img/avatars/test.jpg" alt="Comik Cover" class="comik-avatar w-100">
                </div>
                <!-- Comic Details -->
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">Manga Title</h3>
                        <ul class="list-unstyled">
                            <li>
                            <div class="line"><div class="icon-styled"><i class="bx bx-user"></i></div><div class="text-styled"><strong>Authors:</strong></div></div></li>
                            <div class="line"><div class="icon-styled"><i class="bx bx-calendar"></i></div><div class="text-styled"><strong>Published Date:</strong> January 1, 2022</div></div></li>
                            <li><div class="line"><div class="icon-styled"><i class="bx bx-folder"></i></div><div class="text-styled"><strong>Genres:</strong> Action, Adventure, Fantasy</div></div></li>
                            <li><div class="line"><div class="icon-styled"><i class="bx bx-file"></i></div><div class="text-styled"><strong>Chapters:</strong> 120</div></div></li>
                            <li><div class="line"><div class="icon-styled"><i class="bx bx-bell"></i></div><div class="text-styled"><strong>Views:</strong></div></div></li>
                            <li><div class="line"><div class="icon-styled"><i class="bx bx-chevron-left"></i></div><div class="text-styled"><strong>Status:</strong></div></div></li>
                            <li><div class="line"><div class="icon-styled"><i class="bx bx-crown"></i></div><div class="text-styled"><strong>Ratings:</strong></div></div></li>
                            <li><div class="line"><div class="icon-styled"><i class="bx bx-crown"></i></div><div class="btn btn-primary">Bookmark</button></div></div></li>
                        </ul>
                        <hr>
                        <h5>Description</h5>
                        <p id="description" class="card-text description-content">This manga follows the story of a young adventurer in a fantastical world. As they explore new lands and face challenges, they encounter friends and foes alike, ultimately searching for their true destiny.</p>
                        <div id="toggle-text" class="toggle-text" onclick="toggleSwitch()">Show more</div>
                        <a href="#" class="btn btn-primary">Read Now</a>
                    </div>
                </div>
            </div>
        </div>
       <div class ="card shadow mb-3">
    <div class="chapter-display mt-5 mb-3">
       <div class="chapter-text"><b>Chapters<span class="text-muted"><sup>(5)</sup></span></b></div>
        <div id="toggle-square" class="toggle-square" onclick="toggleChapter()">+</div>
    </div>
     <div id="chapterTable" class="chapter-table table-responsive mb-2">
    <div class="chapter-table-wrapper ">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>Chapter 1: The Beginning</td>
                                <td class="text-right">3 days ago</td>
                            </tr>
                            <tr>
                                <td>Chapter 2: The Journey</td>
                            </tr>
                            <tr>
                                <td>Chapter 3: The Encounter</td>
                            </tr>
                            <tr>
                                <td>Chapter 4: The Battle</td>
                            </tr>
                            <tr>
                                <td>Chapter 5: The Resolution</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
     </div>
     <div class="chapter-display mt-2 mb-3">
        <div class="chapter-text"><b>Comment</b><span class="text-muted"><sup>(0)</sup></span></div>
        <div class="toggle-square" id="toggle-comment-square" onclick="toggleComment()">+</div>
     </div>
     <div id="commentTable">
     <div class="row align-items-start">
   <div class="col-auto mt-3">
     <img class="user-img" data-role="user-avatar" src="~/img/avatars/1.png"> 
   </div>
   <div class="col">
      <div class="comment-area mt-2 mb-3">
        <textarea id="comment-box" placeholder="Start your discussion here..."></textarea>
     <div class="d-flex justify-content-between align-items-sm-center">
        <div class="text-format-buttons">
            <button id="gif-btn" class="text-muted d-none d-md-inline-block"><i class="bx bx-folder"></i></button>
            <button id="image-btn" class="text-muted d-none d-md-inline-block"><i class="bx bx-file"></i></button>
            <button id="bold-btn" onclick="formatText('Bold')" class="text-muted"><b>B</b></button>
            <button id="italic-btn" onclick="formatText('Italic')" class="text-muted"><i>I</i></button>
            <button id="underline-btn" class="text-muted" onclick="formatText('Underline')"><u>U</u></button>
            <button id="alpha-btn" class="text-muted d-none d-md-inline-block">@@</button>        
        </div>
        <button class="btn btn-primary text-right">Submit</button>
     </div>
      </div>
   </div>
     </div>
     <div class="row align-items-start">
        <div class="d-flex justify-content-end">
        <div class="filter-content">
            <a href="#">Newest</a>
            <a href="#">Oldest</a>
        </div>
        </div>
     </div>
     
     <div class="row">
    <div class="comment-list">
        <div class="comment d-flex align-items-start mb-3">
            <div class="comment-avatar">
            <img src="~/img/avatars/1.png" alt="comment-avatar" class="comment-avatar-radius img-fluid">
            </div>
        <div class="comment-content">
        <div class="d-flex flex-column">
            <strong class="username">Username</strong>
            <span class="text-muted">3 days ago</span>
        </div>
        <p class="comment-text">This manga is so fucking</p>
        <div class="mt-3">
            <a href="#" class="comment-action"><i class="fa fa-thumbs-up"></i><span class="num-votes">5</span></a>
            <a href="#" class="comment-action"><i class="fa fa-thumbs-down"></i><span class="num-votes">6</a>
            <a href="#" class="comment-action"><i class="fa fa-reply"></i><span class="num-votes">Reply</span></a>
        </div>
        </div>
        </div>
     <div class="comment d-flex align-items-start mb-3">
            <div class="comment-avatar">
            <img src="~/img/avatars/1.png" alt="comment-avatar" class="comment-avatar-radius img-fluid">
            </div>
        <div class="comment-content">
        <div class="d-flex flex-column">
            <strong class="username">Username</strong>
            <span class="text-muted">3 days ago</span>
        </div>
        <p class="comment-text">This manga is so fucking</p>
        <div class="mt-3">
            <a href="#" class="comment-action"><i class="fa fa-thumbs-up"></i><span class="num-votes">5</span></a>
            <a href="#" class="comment-action"><i class="fa fa-thumbs-down"></i><span class="num-votes">6</a>
            <a href="#" class="comment-action"><i class="fa fa-reply"></i><span class="num-votes">Reply</span></a>
        </div>
        </div>
        </div>
        <div class="comment d-flex align-items-start mb-3">
            <div class="comment-avatar">
            <img src="~/img/avatars/1.png" alt="comment-avatar" class="comment-avatar-radius img-fluid">
            </div>
        <div class="comment-content">
        <div class="d-flex flex-column">
            <strong class="username">Username</strong>
            <span class="text-muted">3 days ago</span>
        </div>
        <p class="comment-text">This manga is so fucking</p>
        <div class="mt-3">
            <a href="#" class="comment-action"><i class="fa fa-thumbs-up"></i><span class="num-votes">5</span></a>
            <a href="#" class="comment-action"><i class="fa fa-thumbs-down"></i><span class="num-votes">6</a>
            <a href="#" class="comment-action"><i class="fa fa-reply"></i><span class="num-votes">Reply</span></a>
        </div>
        </div>
        </div>
          
    </div>
     </div>
       </div>
       </div>
        <!-- Related Manga or Additional Info -->
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                Related Manga
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#">Related Manga 1</a></li>
                    <li class="list-group-item"><a href="#">Related Manga 2</a></li>
                    <li class="list-group-item"><a href="#">Related Manga 3</a></li>
                </ul>
            </div>
        </div>
       </div>
<script>
    document.addEventListener("DOMContentLoaded",()=>{
     var description=document.getElementById("description");
     var toggleText=document.getElementById("toggle-text");
     if(description.scrollHeight>description.clientHeight)
     {
      toggleText.style.display="block";       
     }
    })

    var toggleSwitch=()=>
    {
   var description=document.getElementById("description");
   var toggleText= document.getElementById("toggle-text");
   if(description.classList.contains("description-content"))
   {
    description.classList.remove("description-content");
    toggleText.textContent="Show less";        
   }
   else
   {
    description.classList.add("description-content");
    toggleText.textContent="Show more";
   }
 }
    

    var toggleChapter=()=>
    {
    var chapterTable=document.getElementById("chapterTable");
    var toggleSquare=document.getElementById("toggle-square");
    if(toggleSquare.textContent==="+")
    {
        toggleSquare.textContent="-";
        chapterTable.style.display="block";
    }
    else{
        toggleSquare.textContent="+";
        chapterTable.style.display="none";
    }
    }

    var toggleComment=()=>{
        var toggleCommentSquare=document.getElementById("toggle-comment-square");
        var commentTable = document.getElementById("commentTable");
        if(toggleCommentSquare.textContent==="+")
        {
        toggleCommentSquare.textContent="-";
        commentTable.style.display="block";
        }
        else
        {
            toggleCommentSquare.textContent="+";
            commentTable.style.display="none";
        }    
    }

    var formatText=(value)=>
    {
     var text_area=document.getElementById("comment-box");
     var text_start=text_area.selectionStart;
     var text_end=text_area.selectionEnd;
     var bold_btn=document.getElementById("bold-btn");
     var italic_btn=document.getElementById("italic-btn");
     var underlined_btn=document.getElementById("underline-btn");
    switch(value)
    {
     case "Bold":
     {
        if(text_area.style.fontWeight==="bold")
        {    bold_btn.classList.remove("active");
            text_area.style.fontWeight="normal"}
        else
        {bold_btn.classList.add("active");
         text_area.style.fontWeight="bold";
        }
        break;
     }
    case "Italic":
    {
     if(text_area.style.fontStyle==="italic")
     {  italic_btn.classList.remove("active");
        text_area.style.fontStyle="normal";
     }
     else{
        italic_btn.classList.add("active");
        text_area.style.fontStyle="italic";
     }
     break;
    }
    case "Underline":
    {
     if(text_area.style.textDecoration==="underline")
     {   underlined_btn.classList.remove("active");
        text_area.style.textDecoration="none";
     }
     else{
        underlined_btn.classList.add("active");
        text_area.style.textDecoration="underline";
     }
     break;
    }
     }
    }
</script>